.footer {
    background-color: #000000;
    .footer-container {
        padding: 9.9% 120px 9.8%;
        background: #141218 no-repeat center center url('../img/footer-bg.jpg');
        border-radius: 0px;
        box-shadow: inset 1px 0px 50px 15px rgba(0,0,0,0.75);
        display: grid;  
        grid-template-columns: auto 40% auto;
        justify-content: space-between;
        align-items: center;

        .footer__nav {
            display: grid;
            grid-template-columns: repeat(3, auto);
            justify-content: space-between;
            .footer__link {
                border-radius: 50%;
                color: #F7F7F7;
                text-decoration: none;
                font-family: 'OpenSans';
                font-style: normal;
                font-weight: normal;
                font-size: 23px;
                line-height: 60px;
            }  
        }

        .footer__socials {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 26px;
            .social__link {
                // display: block;
                border: 1px solid transparent;
                border-radius: 50%;
                background: #F7F7F7;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: all .5s ease;
                &:hover {
                    border: 2px solid #cd6326;;
                    background-color: #F7F7F7;
                }
                &:hover .social__obj {
                    transition: all .5s ease;
                    filter: invert(38%) sepia(88%) saturate(657%) hue-rotate(344deg) brightness(97%) contrast(87%);
                }
                
            }
        }
    }
}





