
.wrapper {
    background-image: url('../img/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, center;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
}

.button { 
    background-color: #CD6326;
    outline: none;
    border: none;
}

.logo-wrap {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-column-gap: 15px;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
        .logo__text {
            text-transform: uppercase;
            color: #F7F7F7;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 60px;
        }
}

.header {
    .header__container {
        box-shadow: 27px 13px 19px -6px rgba(0,0,0,0.75) inset,
                -27px 13px 19px -6px rgba(0,0,0,0.75) inset;
        padding: 19px 120px 0;
            .header__top {
            // padding-bottom: 120px;
            display: grid;
            grid-template-columns: auto auto;
            justify-content: space-between;

            .header__navigation {
                display: grid;
                .navigation {
                    display: grid;
                    grid-template-columns: repeat(4, auto);
                    grid-column-gap: 6px;
                    text-align: center;
                    align-items: center;
                    .navigation__item {
                        list-style-type: none;
                        .navigation__link {
                            display: block;
                            font-family: 'OpenSans';
                            font-size: 23px;
                            text-decoration: none;
                            color: #F7F7F7;
                            padding: 7px 22px;
                            border: 2px solid transparent;
                            border-radius: 5px;
                            user-select: none;
                            transition: all .5s ease;
                            cursor: pointer;
                            &:hover {
                                background-color: #CD6326;
                                border: 2px solid #CD6326;
                                border-radius: 5px;
                            }
                            &:active {
                                background-color: #8F5613;
                                border: 2px solid #8F5613;
                                border-radius: 5px;
                            }
                        }

                        button.navigation__link {
                            // cursor: pointer;
                            background-color: transparent;
                            outline: none;
                        }
                        .navigation__link-active {
                            border: 2px solid #CD6326;
                            border-radius: 5px;
                        }
                        img.navigation__link {
                            padding: 10px 50px;
                        }
                    }
                }
            }
        }
       
    }

    
}