.main {
    background-color: #CCCCCC;
    .main-container {
        padding: 120px 120px 240px;
        .main__title {
            padding-bottom: 20px;
            text-align: center;
            font-family: 'OpenSans', sans-serif;
            font-weight: normal;
            font-size: 48px;
            line-height: 72px;
        }

        .main__descr {
            padding-bottom: 120px;
            font-family: 'OpenSans', sans-serif;
            font-weight: normal;
            font-size: 24px;
            line-height: 36px;
            text-align: center;
            color: #666666;
        }

        .slider {
            position: relative;
            .slider-wrap { 
                display: grid;
                grid-template-columns: repeat(3, 300px);
                grid-template-rows: 360px;
                grid-column-gap: 60px;
                justify-content: center;
                // justify-items: center;
                .slide {
                    position: relative;
                    // .slide-wrap {
                        .slide__title {
                            position: absolute;
                            top: 74%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            font-family: 'OpenSans';
                            font-size: 22px;
                            line-height: 36px;
                            color: #F7F7F7;
                        }
                        .slide__descr {
                            text-align: center;
                            width: 100%;
                            position: absolute;
                            top: 85%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            font-family: 'OpenSans';
                            font-size: 17px;
                            line-height: 27px;
                            color: #F7F7F7;
                        }
                    .slide__image {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 0;
                    }
                    // }
                }
            }

            .control.left {
                left: 0%;
                right: auto;
            }

            .control.right {
                left: auto;
                right: -2.5%;
            }

            .control {
                position: absolute;
                top: 0;
                bottom: 0;
                width: 5%;
                cursor: pointer;
            }

            .arrow {
                display: inline-block;
                position: absolute;
                top: 50%;
                transform: translateY(-40%);
                user-select: none;
            }

            
        }
        .notified {
            padding: 239px 0 0;
            .notified__title {
                font-family: 'OpenSans';
                font-style: normal;
                font-weight: normal;
                font-size: 27px;
                line-height: 40px;
                text-align: center;
            }

            .notified__submit-wrap {
                padding-top: 60px;
                text-align: center;
                .form {
                    display: grid;
                    grid-template-columns: minmax(120px, 538px) 1fr;
                    max-width: 660px;
                    margin: 0 auto;
                    .form-input {
                        outline: none;
                        background-color: #CCCCCC;
                        border: #666666 solid 1px;
                        border-right: none;
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: normal;
                        font-size: 23px;
                        line-height: 40px;
                        padding: 10px 0 10px 15px;
                    }
                    .form-button {
                        padding: 16px 34px;
                        outline: none;
                        background: #CD6326;
                        border: 1px solid #CD6326;
                        border-radius: 0px 5px 5px 0px;
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: normal;
                        font-size: 23px;
                        line-height: 27px;
                        color: #F7F7F7; 
                        &:hover{
                            background: #E39128;
                            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                            cursor: pointer;
                        }
                        &:active {
                            background: #8F5613;
                            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        }
                    }
                }
            }
        }
    }
}